<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Keychain Module</string>
	<key>CFBundleIdentifier</key>
	<string>net.liquidx.ATKeychainPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Keychain Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>F17</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2005. Alastair Tse &lt;alastair@liquidx.net&gt;.</string>
	<key>QSActions</key>
	<dict>
		<key>ATKeychainItemAccountCopyAction</key>
		<dict>
			<key>actionClass</key>
			<string>ATKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>copyAccountName:</string>
			<key>description</key>
			<string>Copy account name to the clipboard</string>
			<key>directTypes</key>
			<array>
				<string>ATKeychainItemType</string>
			</array>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Copy Account Name</string>
			<key>rankModification</key>
			<real>0.10000000000000001</real>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>ATKeychainItemCommentCopyAction</key>
		<dict>
			<key>actionClass</key>
			<string>ATKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>copyComment:</string>
			<key>description</key>
			<string>Copy Comment to the clipboard</string>
			<key>directTypes</key>
			<array>
				<string>ATKeychainItemType</string>
			</array>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Copy Comment</string>
			<key>rankModification</key>
			<real>0.10000000000000001</real>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>ATKeychainItemLocationCopyAction</key>
		<dict>
			<key>actionClass</key>
			<string>ATKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>copyLocation:</string>
			<key>description</key>
			<string>Copy Location to the clipboard</string>
			<key>directTypes</key>
			<array>
				<string>ATKeychainItemType</string>
			</array>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Copy Location</string>
			<key>rankModification</key>
			<real>0.10000000000000001</real>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>ATKeychainItemPasswordCopyAction</key>
		<dict>
			<key>actionClass</key>
			<string>ATKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>copyPassword:</string>
			<key>description</key>
			<string>Copy password to the clipboard</string>
			<key>directTypes</key>
			<array>
				<string>ATKeychainItemType</string>
			</array>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Copy Password</string>
			<key>rankModification</key>
			<real>0.20000000000000001</real>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Alastair Tse (liquidx)</string>
		<key>categories</key>
		<array>
			<string>System</string>
			<string>Security</string>
		</array>
		<key>description</key>
		<string>Access to Keychain entries</string>
		<key>infoFile</key>
		<string>Info.rtf</string>
		<key>relatedBundles</key>
		<array>
			<string>com.apple.keychainaccess</string>
		</array>
		<key>requiresFeature</key>
		<string>1</string>
		<key>webIcon</key>
		<string>image:com.apple.keychainaccess</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>ATPresetKeychainGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>ATPresetKeychains</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>com.apple.keychainaccess</string>
					<key>name</key>
					<string>Keychains</string>
					<key>source</key>
					<string>ATKeychainSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>ATPresetKeychainItems</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>KeychainKeyIcon</string>
					<key>name</key>
					<string>Keychain Items</string>
					<key>source</key>
					<string>ATKeychainSource</string>
				</dict>
			</array>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Keychain Access</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>ATKeychainActionProvider</key>
			<string>ATKeychainActionProvider</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>ATKeychainItemType</key>
			<string>ATKeychainSource</string>
			<key>ATKeychainType</key>
			<string>ATKeychainSource</string>
			<key>com.apple.keychainaccess</key>
			<string>ATKeychainSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>ATKeychainItemPropertyType</key>
			<string>ATKeychainSource</string>
			<key>ATKeychainItemType</key>
			<string>ATKeychainSource</string>
			<key>ATKeychainSource</key>
			<string>ATKeychainSource</string>
			<key>ATKeychainType</key>
			<string>ATKeychainSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>ATKeychainSource</key>
			<string>ATKeychainSource</string>
		</dict>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>KeychainKeyIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.keychainaccess</string>
			<key>resource</key>
			<string>key.icns</string>
		</dict>
		<key>KeychainNetVolIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.keychainaccess</string>
			<key>resource</key>
			<string>netvol.icns</string>
		</dict>
		<key>KeychainURLIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.keychainaccess</string>
			<key>resource</key>
			<string>url.icns</string>
		</dict>
	</dict>
</dict>
</plist>
