<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Keychain Catalog Module</string>
	<key>CFBundleIdentifier</key>
	<string>net.liquidx.ATKeychainCatalogPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Keychain Catalog Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>8B</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2006, Alastair Tse.</string>
	<key>NSPrincipalClass</key>
	<string>ATKeychainPlugin</string>
	<key>QSActions</key>
	<dict>
		<key>ATKeychainItemAccountCopyAction</key>
		<dict>
			<key>actionClass</key>
			<string>ATKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>copyAccountName:</string>
			<key>directTypes</key>
			<array>
				<string>ATKeychainItemType</string>
			</array>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Copy Account Name</string>
			<key>rankModification</key>
			<real>0.20000000000000001</real>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>ATKeychainItemCommentCopyAction</key>
		<dict>
			<key>actionClass</key>
			<string>ATKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>copyComment:</string>
			<key>directTypes</key>
			<array>
				<string>ATKeychainItemType</string>
			</array>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Copy Comment</string>
			<key>rankModification</key>
			<real>0.29999999999999999</real>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>ATKeychainItemPasswordCopyAction</key>
		<dict>
			<key>actionClass</key>
			<string>ATKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>copyPassword:</string>
			<key>directTypes</key>
			<array>
				<string>ATKeychainItemType</string>
			</array>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Copy Password</string>
			<key>rankModification</key>
			<real>0.10000000000000001</real>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>ATKeychainOpenAction</key>
		<dict>
			<key>actionClass</key>
			<string>ATKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>openKeychain:</string>
			<key>directTypes</key>
			<array>
				<string>ATKeychainItemType</string>
				<string>ATKeychainType</string>
			</array>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Open Keychain</string>
			<key>rankModification</key>
			<real>0.40000000000000002</real>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Alastair Tse</string>
		<key>categories</key>
		<array>
			<string>Security</string>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Access to all Keychain Items</string>
		<key>icon</key>
		<string>com.apple.keychainaccess</string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array>
			<string>com.apple.keychainaccess</string>
		</array>
		<key>requiresFeature</key>
		<integer>1</integer>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>ATPresetKeychainGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>ATPresetKeychainActions</string>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>Keychain Actions</string>
					<key>requiresBundle</key>
					<string>com.apple.keychainaccess</string>
					<key>source</key>
					<string>ATKeychainActionSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>ATPresetKeychains</string>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>Keychain Items</string>
					<key>requiresBundle</key>
					<string>com.apple.keychainaccess</string>
					<key>source</key>
					<string>ATKeychainObjectSource</string>
				</dict>
			</array>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Keychain Catalog Items</string>
			<key>requiresBundle</key>
			<string>com.apple.keychainaccess</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>ATKeychainActionProvider</key>
			<string>ATKeychainActionProvider</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.keychainaccess</key>
			<string>ATKeychainPluginSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>ATKeychainItemType</key>
			<string>ATKeychainObjectHandler</string>
			<key>ATKeychainPropertyType</key>
			<string>ATKeychainObjectHandler</string>
			<key>ATKeychainType</key>
			<string>ATKeychainObjectHandler</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>ATKeychainActionSource</key>
			<string>ATKeychainActionSource</string>
			<key>ATKeychainObjectSource</key>
			<string>ATKeychainObjectSource</string>
		</dict>
		<key>QSPreferencePanesTemplate</key>
		<dict>
			<key>ATKeychainPlugin_PrefPane</key>
			<dict>
				<key>class</key>
				<string>QSPreferencePane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>ATKeychainPlugin</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
